doctype html
html
  head
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap")
    link(rel="stylesheet" href="/css/styles.css" type="text/css")
    script(src="script.js")
  body
    header
      nav
        ul
          li: a(href='/') Home
          if session && session.user
            li |
            li: a(href='/blog') Blog 
            li: a(href='/logout') Log Out
          else
            li |
            li: a(href='/register') Register
            li: a(href='/login') Log In
    main
      section#blog-list
        article
          h2 Title: #{blog.title}
          p Created by: #{blog.author}
          p Created at: #{blog.created_at.toLocaleString()}
          p #{blog.content}
        a.button(href="/blog") Back
