doctype html
html
  head
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap")
    link(rel="stylesheet" href="css/styles.css" type="text/css")
  body
    header
      nav
        ul
          li: a(href='/') Home
          if session && session.user
            li |
            li: a(href='/blog') Blog 
            li: a(href='/logout') Log Out
          else
            li |
            li: a(href='/register') Register
            li: a(href='/login') Log In
    main
      section#intro-text
        span Simple Kitchen
        br
        p
          | Simple & Comforting 
          br
          | Recipes All Year Round
      section#form-section
        h1 Thank you for your registration!
