doctype html
html
  head
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap")
    link(rel="stylesheet" href="css/styles.css" type="text/css")
  body
    header
      nav
        ul
          li: a(href='/') Home
          li |
          li: a(href='#') Blog
          li: a(href='/register') Register
    main
      section#intro-text
        span Simple Kitchen
        br
        p
          | Simple & Comforting 
          br
          | Recipes All Year Round
      section#form-section
        h1 Thank you for your registration!
    footer
      | &copy; Copyright 2021
